*{
    margin: 0;
    padding: 0;
}
#header {
    z-index: 997;
    transition: all 0.5s;
    background: rgba(25, 28, 31, 0.8);
  }
  
  /* #header.header-transparent {
    background: transparent;
  } */
  
  #header.header-scrolled {
    height: 60px;
    background: rgba(25, 28, 31, 0.8);
  }
 .link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 12px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
}
.nav-link:hover,
.nav-link  .active,
.nav-link .active:focus {
  color: #ffb727;
}  